	<nav class="menu-catalog" itemscope itemtype="https://www.schema.org/SiteNavigationElement">

		<div class="center">

			<div class="menu-catalog__inner">

				<div class="menu-catalog__all">

					<button class="menu-catalog__btn-toggle btn btn--outline btn--h48" type="button">
						<svg width="32" height="32">
							<use xlink:href="#svg-menu"/>
						</svg>
						Каталог
					</button>

{% include "template/menu/all.html" %}

				</div>

				<div class="menu-catalog__main">

					<ul class="menu-main">

{% for item in [
	{
		name : "Наш каталог",
		link : "catalog",
		level2 : [
		],
		onlyMobile : true
	},
	{
		name : "Акции",
		link : "sale"
	},
	{
		name : "Распродажи",
		link : "sale"
	},
	{
		name : "Наши бренды",
		link : "brands",
		level2 : [
		]
	},
	{
		name : "Нашим клиентам",
		link : "customers",
		level2 : [
		]
	},
	{
		name : "Учебный центр",
		link : "academy",
		level2 : [
		]
	},
	{
		name : "Контакты",
		link : "contacts"
	},
	{
		name : "Доставка и оплата",
		link : "contacts",
		onlyMobile : true
	},
	{
		name : "О компании",
		link : "contacts",
		onlyMobile : true
	},
	{
		name : "Статьи и новости",
		link : "contacts",
		onlyMobile : true
	}
]%}

						<li class="menu-main__item{% if item.onlyMobile %} hidden-desktop{% endif %}">

							<a class="menu-main__link" itemprop="url" href="/{{ item.link }}/">
								<span itemprop="name">
									{{ item.name }}
								</span>
								{% if item.level2 %}
								<svg width="16" height="16">
									<use xlink:href="#svg-chevron-down"/>
								</svg>
								{% endif %}
							</a>

		{% if item.level2 %}

{% include "template/menu/all.html" %}

		{% endif %}

						</li>

{% endfor %}

					</ul>

					<div class="menu-main-sub hide">

						<button class="menu-main-sub__back button menu-main__link" type="button">

							<svg width="24" height="24">
								<use xlink:href="#svg-arrow-narrow-left"/>
							</svg>

							<span class="menu-main-sub__back-text">

							</span>

						</button>

						<div class="menu-main-sub__list">

						</div>

					</div>

				</div>

{% include "template/header/cart.html" %}

			</div>

		</div>

	</nav>