				<ul class="footer__contacts">

					<li>

						<a href="tel:+79122002024" class="footer__contacts-item">

							<svg width="32" height="32">
								<use xlink:href="#svg-phone"/>
							</svg>

							<span class="footer__contacts-value">

								<span class="footer__contacts-key">
									Екатеринбург
								</span>

								<span class="h6">
									+7 (912) 200-20-24
								</span>

							</span>

						</a>

						<a href="https://yandex.ru/maps/-/CHgPnPko" target="_blank" class="footer__contacts-item" rel="noopener nofollow">

							<svg width="32" height="32">
								<use xlink:href="#svg-marker"/>
							</svg>

							<span class="footer__contacts-value">
								ул. Авиационная 65/1, домофон 55, 1 эт 
							</span>

						</a>

					</li>

					<li>

						<a href="tel:+79995480088" class="footer__contacts-item">

							<svg width="32" height="32">
								<use xlink:href="#svg-phone"/>
							</svg>

							<span class="footer__contacts-value">

								<span class="footer__contacts-key">
									Тюмень, Сургут, ХМАО
								</span>

								<span class="h6">
									+7 (999) 548-00-88
								</span>

							</span>

						</a>

						<a href="https://yandex.ru/maps/-/CHgPrI-y" target="_blank" class="footer__contacts-item" rel="noopener nofollow">

							<svg width="32" height="32">
								<use xlink:href="#svg-marker"/>
							</svg>

							<span class="footer__contacts-value">
								г.Тюмень, ул. Салтыкова Щедрина д.55
							</span>

						</a>

					</li>

					<li>

						<a href="mailto:Grand-CosmeticRU@yandex.ru" class="footer__contacts-item">

							<svg width="32" height="32">
								<use xlink:href="#svg-mail-forward"/>
							</svg>

							<span class="footer__contacts-value">

								<span class="footer__contacts-key">
									Для коммерчеких предложений
								</span>

								Grand-CosmeticRU@yandex.ru

							</span>

						</a>

					</li>

					<li>

						<a href="https://vk.com/grand.cosmetic" target="_blank" class="footer__contacts-item" rel="noopener nofollow">

							<svg width="32" height="32">
								<use xlink:href="#svg-vk"/>
							</svg>

							<span class="footer__contacts-value">

								<span class="footer__contacts-key">
									Следите за новостями в VK
								</span>

								https://vk.com/grand.cosmetic

							</span>

						</a>

					</li>

				</ul>