		<div class="header__top">

			<div class="center">

				<div class="flex">

					<div class="header__city">

{% include "template/header/city.html" %}

					</div>

					<div class="header__address">

						<a href="https://yandex.ru/maps/-/CHgPnGM0" target="_blank" rel="noopener nofollow">
							Ул. 1900-тия взятия Моссады 23, офис 25
						</a>

					</div>

					<div class="header__top-phone">

						<a href="tel:+73421234567">

							<svg width="16" height="16">
								<use xlink:href="#svg-phone"/>
							</svg>

							+7 (342) 123-45-67

						</a>

					</div>

					<div class="header__menu-top">

{% include "template/header/menu-top.html" %}

					</div>

				</div>

			</div>

		</div>