	<footer class="footer">

		<div class="center">

			<div class="footer__grid">

				<p class="footer__logo">

					<a href="/" title="Главная страница {{ site }}">

						<img src="/img/logo-footer.svg" width="148" height="24" loading="lazy" alt="{{ site }}">

					</a>

				</p>

				<ul class="footer__menu">

					<li>

						<a href="/">
							Privacy policy
						</a>

					</li>

					<li>

						<a href="/">
							Terms & conditions
						</a>

					</li>

				</ul>

				<ul class="footer__social">

					<li>

						<a href="/" target="_blank" rel="noopener nofollow" title="instagrem {{ site }}">

							<svg width="60" height="60" viewBox="0 0 60 60">
								<path d="M24.94 24a2 2 0 1 1-4-.002 2 2 0 0 1 4 .002m.06 3.48h-4V40h4zm6.32 0h-3.98V40h3.94v-6.57c0-3.66 4.77-4 4.77 0V40H40v-7.93c0-6.17-7.06-5.94-8.72-2.91z"/>
							</svg>

						</a>

					</li>

					<li>

						<a href="/" target="_blank" rel="noopener nofollow" title="telegram {{ site }}">

							<svg width="60" height="60" fill="none" viewBox="0 0 60 60">
								<path d="M20.148 30.81q7.87-3.429 10.497-4.522c4.999-2.079 6.037-2.44 6.714-2.452.15-.003.482.034.698.21.182.147.232.347.256.487s.054.459.03.708c-.27 2.847-1.443 9.754-2.04 12.941-.252 1.35-.748 1.802-1.23 1.846-1.045.096-1.839-.69-2.85-1.355-1.585-1.038-2.48-1.684-4.018-2.698-1.777-1.171-.625-1.815.388-2.867.265-.275 4.87-4.464 4.96-4.844.01-.048.021-.225-.084-.318-.105-.094-.26-.062-.373-.036q-.239.054-7.592 5.018-1.079.74-1.952.721c-.643-.014-1.88-.363-2.798-.662-1.128-.367-2.024-.56-1.946-1.183q.061-.486 1.34-.994"/>
							</svg>

						</a>

					</li>

				</ul>

			</div>

			<p class="footer__copyright">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.
			</p>

		</div>

	</footer>