	<div class="modal" id="modal">

		<div class="modal__box">

{% include "template/modal/city.html" %}

{% include "template/modal/callback.html" %}

{% include "template/modal/login.html" %}

{% include "template/modal/login-telegram.html" %}

{% include "template/modal/form-to-work.html" %}

{% include "template/modal/get-price-list.html" %}

{% include "template/modal/preview-card-select.html" %}

{% include "template/modal/review.html" %}

{% include "template/modal/review-answer.html" %}

{% include "template/modal/cart.html" %}

{% include "template/modal/search.html" %}

{% include "template/modal/lk-address-remove.html" %}

{% include "template/modal/club.html" %}

			<button type="button" class="modal__close modal__close-btn button" aria-label="Закрыть">
				<svg width="24" height="24">
					<use xlink:href="#svg-close"/>
				</svg>
			</button>

		</div>

	</div>