			<ul class="pagin">

				<li class="hidden-md">

					<a href="/" class="pagin__link">
						<svg width="24" height="24">
							<use xlink:href="#svg-chevron-left-double"/>
						</svg>
					</a>

				</li>

				<li class="hidden-xs">

					<a href="/" class="pagin__link">
						<svg width="24" height="24">
							<use xlink:href="#svg-chevron-left"/>
						</svg>
					</a>

				</li>

				<li>

					<a href="/" class="pagin__link is-current">
						1
					</a>

				</li>

				<li>

					<a href="/" class="pagin__link">
						2
					</a>

				</li>

				<li>

					<a href="/" class="pagin__link">
						3
					</a>

				</li>

				<li>
					<span class="pagin__sep">
						...
					</span>
				</li>

				<li>

					<a href="/" class="pagin__link">
						10
					</a>

				</li>

				<li class="hidden-xs">

					<a href="/" class="pagin__link">
						<svg width="24" height="24">
							<use xlink:href="#svg-chevron-right"/>
						</svg>
					</a>

				</li>

				<li class="hidden-md">

					<a href="/" class="pagin__link">
						<svg width="24" height="24">
							<use xlink:href="#svg-chevron-right-double"/>
						</svg>
					</a>

				</li>

			</ul>