.about-company {

	display: grid;
	gap: 80px;
	padding: var(--padding) 0;

	@media $smWidth {

		gap: 24px;

	}

	&__header {

		max-width: 1016px;
		display: grid;
		gap: 16px;
		font-size: 18px;

		@media $mdWidth {

			font-size: 16px;

		}

	}

	&__grid {

		display: grid;
		gap: 80px;
		align-items: flex-start;
		grid-template-columns: 1fr 756px;

		@media $lgWidth {

			grid-template-columns: 1fr 1fr;

		}

		@media $mdWidth {

			gap: 40px;

		}

		@media $smWidth {

			grid-template-columns: 1fr;
			gap: 24px;

		}

	}

	&__item {

		display: grid;
		gap: var(--padding);

		@media $smWidth {

			font-size: 14px;

			.btn {

				width: 100%;

			}

		}

		&--mobile-reverse {

			@media $smWidth {

				.about-company__img {

					order: -1;

				}

			}

		}

	}

	&__text {

		display: grid;
		gap: 16px;

	}

	&__img {

		img {

			max-width: 100%;
			height: auto;
			border-radius: 16px;

		}

	}

}