.billboard {

	margin-bottom: 16px;
	overflow: hidden;

	.center {

		width: 1200px;
		padding: 0 8px;

		@media $smWidth {

			padding: 0;

		}

	}

	.swiper-container {

		overflow: visible;

	}

	.swiper-navigation {

		padding: 8px;

		@media $smWidth {

			display: none;

		}

	}

	&__wrap {

		border-radius: var(--radius);

	}

	&__wrap:not(.swiper-initialized) &__item + &__item {

		display: none;

	}

	@media $desktop {

		&:not(:hover) .swiper-navigation {

			opacity: 0;

		}

		.swiper-pagination {

			display: none;

		}

	}

	&__item {

		position: relative;
		width: 100%;
		flex-shrink: 0;
		padding: 0 8px;

		@media $smWidth {

			padding: 0 var(--indent);

		}

	}

	&__link {

		display: flex;
		align-items: center;
		min-height: 600px;
		position: relative;
		padding: var(--padding);

		img {

			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
			border-radius: 16px;
			background-color: var(--substrate);

			@media $smWidth {

				opacity: .6;

			}

		}

		@media $smWidth {

			padding: var(--indent);
			min-height: 460px;

		}

	}

	&__content {

		display: grid;
		gap: 16px;
		position: relative;
		max-width: 650px;

		@media $smWidth {

			gap: 0;

		}

	}

	&__text {

		font-size: 18px;

		@media $smWidth {

			font-size: 14px;
			margin-top: 16px;

		}

	}

	&__btn {

		display: flex;
		margin-top: 24px;

		@media $smWidth {

			margin-top: 40px;

			.btn {

				width: 100%;

			}

		}

		.btn--outline {

			background-color: #FFFFFF80;
			box-shadow: inset 0 0 0 1px var(--main);

		}

	}

}

.billboard-page {

	padding: var(--padding);
	position: relative;
	min-height: 368px;
	border-radius: 16px;
	background-color: var(--substrate);

	@media $mdWidth {

		padding: 24px;

	}

	&--short {

		min-height: 160px;

		@media $smWidth {

			img {

				display: none;

			}

		}

	}

	@media $smWidth {

		padding: 16px;
		display: flex;
		align-items: center;

	}

	&__content {

		display: grid;
		gap: 16px;
		position: relative;
		max-width: 855px;
		width: 60%;
		padding: var(--padding) 0;
		text-wrap: balance;

		@media $mdWidth {

			padding: var(--gap) 0;

		}

		@media $smWidth {

			font-size: 14px;
			width: 100%;
			padding: 0;

		}

	}

	&__bg {

		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
		border-radius: 16px;

	}

}

.billboard-sales {

	padding: var(--padding) var(--gap);
	position: relative;
	min-height: 400px;
	display: flex;
	align-items: center;

	@media $mdWidth {

		min-height: 368px;
		padding: 48px var(--gap) 40px;

	}

	&__link::after {

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: '';
		z-index: 2;

	}

	&__content {

		display: grid;
		gap: 16px;
		position: relative;
		max-width: 640px;
		width: 60%;

		@media $smWidth {

			width: 100%;

		}

	}

	&__bg {

		border-radius: var(--radius);
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
		background-color: #eee;

	}

	.deadline {

		@media $desktop {

			top: 16px;
			right: 16px;
			font-size: 18px;
			padding: 16px 24px;

		}

	}

}

.billboard-catalog {

	position: relative;
	display: grid;
	grid-template-columns: 1fr 550px;
	align-items: center;
	background-color: var(--substrate);
	border-radius: var(--radius);

	@media $lgWidth {

		grid-template-columns: 550px 1fr;

	}

	&__content {

		display: grid;
		gap: 16px;
		padding: var(--padding) var(--gap);

	}

	&__img {

		position: relative;

		img {

			width: 100%;
			object-fit: cover;
			border-radius: 0 var(--radius) var(--radius) 0;

		}

	}

	.deadline {

		top: 16px;
		right: 16px;
		font-size: 18px;
		padding: 16px 24px;

	}

}

.billboard-support {

	background-color: #F6F5F1;
	border-radius: var(--radius);
	position: relative;
	padding: 40px 24px;
	overflow: hidden;

	@media $smWidth {

		padding: 40px 16px;

	}

	&__row {

		display: grid;
		gap: 48px;
		grid-template-columns: 1fr 326px;
		align-items: center;

		.support-btns__phone {

			margin: auto;

		}

		@media $mdWidth {

			grid-template-columns: 1fr;

		}

		@media $smWidth {

			gap: 24px;

			.billboard-support__person {

				gap: 8px;

				img {

					width: 64px;
					height: 64px;

				}

				figcaption {

					font-size: 14px;

				}

			}

		}

	}

	&__column {

		display: grid;
		gap: 48px;

		@media $desktop {

			.support-btns {

				gap: 48px;

			}

		}

	}

	&__bg {

		position: absolute;
		top: -10px;
		left: 0;
		opacity: .17;

	}

	&__body {

		display: grid;
		gap: 24px;

	}

	&__column &__body {

		position: relative;
		padding-left: 116px;
		gap: 16px;

		@media $smWidth {

			font-size: 14px;

		}

	}

	&__head {

		display: grid;
		gap: 8px;

	}

	&__person {

		display: flex;
		gap: 24px;
		align-items: center;

		img {

			flex-shrink: 0;
			border-radius: 50%;

		}

		figcaption {

			font-size: 16px;

			@media $smWidth {

				font-size: 14px;

			}

			b {

				display: block;
				font-weight: 600;

			}

		}

	}

	&__column &__person {

		display: block;

		img {

			position: absolute;
			top: 0;
			left: 0;

		}

	}

}

.support-btns {

	display: grid;
	gap: 24px;

	@media $tablet {

		margin: auto;

	}

	&__btn {

		width: 100%;
		stroke-width: 2px;

	}

	&__phone {

		display: block;
		position: relative;
		padding-left: 40px;
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
		color: var(--text);

		b {

			display: block;
			font-weight: 600;

		}

		svg {

			position: absolute;
			left: 0;
			bottom: 0;
			color: var(--main);

		}

	}

}
