.cart {

	width: 1220px;
	background-color: #fff;
	border-radius: 16px;
	padding: 0 !important;

	@media $mdWidth {

		width: 100%;
		background-image: linear-gradient( to bottom, #fff, var(--substrate));

	}

	@media $smWidth {

		border-radius: 0;
		width: 100%;

	}

	&__head {

		padding: var(--gap);

	}

	&__grid {

		padding: 40px var(--gap);
		gap: var(--gap);
		display: grid;
		grid-template-columns: 1fr 366px;

		@media $mdWidth {

			padding: 24px var(--gap);
			grid-template-columns: 1fr;

		}

	}

	&__body {

		display: grid;
		gap: 8px;
		align-content: flex-start;

	}

	&__item {

		&.is-remove {

			transition: var(--transitionDefault);
			opacity: 0;
			margin-bottom: 0;
			overflow: hidden;
			pointer-events: none;
			height: 0 !important;

		}

	}

	@media $mdWidth {

		&__btn-submit {

			position: sticky;
			z-index: 1;
			bottom: var(--gap);
			background-color: var(--substrate);
			margin-top: var(--gap);
			box-shadow: 0 0 0 var(--gap) var(--substrate);

		}

	}

}

.cart-next {

	display: grid;
	gap: var(--gap);
	position: sticky;
	top: var(--gap);
	padding: var(--gap);
	background-color: var(--substrate);
	box-shadow: var(--box-shadow);
	border-radius: 16px;

	@media $mdWidth {

		margin: 0 calc( var(--gap) * -1) -24px;
		border-radius: 0;

	}

	&__progress {

		border-bottom: 1px solid var(--gray);
		padding-bottom: 15px;

		ul {

			display: grid;
			grid-template-columns: 86fr 140fr 60fr;
			padding: 0 5px;
			height: 58px;

		}

		li {

			position: relative;
			font-weight: 500;
			text-align: center;
			font-size: 14px;
			color: var(--gray);

			&::before {

				position: absolute;
				height: 4px;
				top: 32px;
				left: 0;
				right: 0;
				content: '';
				background-color: currentColor;

			}

			&::after {

				position: absolute;
				width: 16px;
				height: 16px;
				top: 26px;
				left: 0;
				right: 0;
				margin: auto;
				content: '';
				border-radius: 50%;
				background-color: currentColor;

			}

			&:last-child {

				text-align: right;

				&::before {

					right: 2px;

				}

				&::after {

					left: auto;

				}

			}

			&.is-active {

				color: var(--main);


			}

		}

		p {

			font-size: 14px;

			@media $smWidth {

				font-size: 12px;

			}

		}

	}

	&__promocode {

		position: relative;

		.input {

			background-color: transparent;
			color: var(--main);
			padding-left: 24px;
			border-color: var(--main);

			&::placeholder {

				font-style: italic;

			}

		}

		svg {

			position: absolute;
			top: 16px;
			right: 24px;
			pointer-events: none;
			stroke-width: 2px;
			color: var(--main);

		}

		p {

			font-size: 14px;
			margin-top: 8px;

			@media $smWidth {

				font-size: 12px;

			}

		}

	}

	&__foot {

		display: grid;
		gap: 16px;
		margin-bottom: 16px;

	}

}

.cart-item {

	position: relative;
	padding: 16px;
	display: grid;
	gap: var(--gap);
	border-radius: var(--radius);
	grid-template-columns: 1fr auto;
	border: 1px solid #E5E5E5;

	@media $mdWidth {

		grid-template-columns: 1fr;
		background-color: #fff;

	}

	&--gift {

		border-color: var(--main);
		background-color: #FEFFFB;

	}

	&__main {

		display: grid;
		gap: 8px;
		align-items: center;
		grid-template-columns: 100px 1fr;

	}

	&__body {

		display: grid;
		gap: 8px;

	}

	&__name {

		font-size: 16px;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
		text-overflow: ellipsis;

		@media $smWidth {

			font-size: 14px;

		}

	}

	&__gift {

		display: flex;
		align-items: center;
		gap: 4px;
		font-size: 14px;

		@media $smWidth {

			font-size: 12px;

		}

		&-ico {

			color: #fff;
			padding: 4px;
			width: 32px;
			height: 32px;
			background-color: var(--accent);
			border-radius: 4px;

		}

	}

	&__param {

		display: grid;
		gap: 2px var(--gap);
		font-size: 12px;
		color: var(--text);
		grid-template-columns: 140fr 196fr;

		@media $smWidth {

			grid-template-columns: 1fr 1fr;
			font-size: 10px;

		}

	}

	&__action {

		display: grid;
		gap: var(--gap);
		grid-template-columns: auto auto;

		@media $smWidth {

			display: flex;
			gap: 8px;
			flex-wrap: wrap;

		}

	}

	&__price {

		padding-top: 10px;

		@media $smWidth {

			min-width: 100px;

		}

		.price {

			gap: 8px;

			&__value {

				font-size: 16px;

				@media $smWidth {

					font-size: 14px;

				}

			}

			&__old {

				font-size: 12px;

				@media $smWidth {

					font-size: 10px;

				}

			}

		}

	}

	&__quantity {

		width: 136px;
		position: relative;
		display: flex;
		justify-content: space-between;

		.input {

			width: 40px;
			height: 40px;
			text-align: center;
			padding: 0;
			border: 1px solid var(--gray);

		}

		.button {

			width: 40px;
			height: 40px;
			text-align: center;
			border: 1px solid var(--gray);
			border-radius: var(--radius);

		}

	}

	&__btns {

		display: flex;
		gap: 16px;
		justify-content: flex-end;
		grid-column: span 2;

		@media $smWidth {

			gap: 8px;

		}

	}

	&__favorite {

		&.is-added {

			color: var(--red);

		}

		&:not(.is-added) svg {

			fill: none;

		}

	}

	&__remove {

		color: var(--red);

	}

}
