.catalog {

	margin-top: 56px;

	&__grid {

		display: grid;
		gap: var(--gap);
		grid-template-columns: 366px 1fr;

		@media $mdWidth {

			grid-template-columns: 1fr;
			flex-direction: column;
			display: flex;

		}

	}

	&__filter {

		display: grid;
		gap: var(--gap);
		align-content: flex-start;

		@media $mdWidth {

			display: none;

		}

	}

	&__body {

		display: grid;
		gap: var(--padding);
		align-content: flex-start;
		position: relative;

		@media $mdWidth {

			gap: 24px;
			flex-direction: column;
			display: flex;

		}

	}

	&__loading {

		height: 0;
		display: flex;
		justify-content: center;
		position: absolute;
		top: var(--scrollMargin);
		left: 0;
		right: 0;

		& ~ * {

			opacity: .5;
			pointer-events: none;

		}

	}

	&__list {

		display: grid;
		gap: var(--gap);
		grid-template-columns: repeat(3, 1fr);
		min-height: 50vh;

		@media (max-width: 1535px) {

			grid-template-columns: repeat(2, 1fr);

		}

		@media $smWidth {

			flex-direction: column;
			display: flex;

		}

	}

	&__item {

		display: flex;
		flex-direction: column;

	}

	&__pagin {

		display: flex;
		justify-content: center;

	}

	&__filter-open {

		display: none;

		@media $tablet {

			display: flex;
			justify-content: flex-end;

			.btn {

				width: auto;

			}

		}

		@media $smWidth {

			display: block;

		}

	}

	&__filter-close {

		display: none;

		@media $mdWidth {

			display: block;
			position: sticky;
			z-index: 6;
			top: var(--indent);
			display: flex;
			justify-content: flex-end;
			height: 0;

			.button {

				width: 40px;
				height: 40px;
				box-shadow: var(--box-shadow);
				display: flex;
				align-items: center;
				justify-content: center;
				stroke-width: 1.5px;
				background-color: #fff;

			}

		}

	}

}

@media $mdWidth {

	.is-filter-show .catalog__filter {

		display: grid;

	}

	.is-filter-show {

		.catalog__body,
		.catalog ~ *,
		.form-to-work,
		.best-block,
		.footer {

			display: none;

		}

	}

}

.catalog-tags {

	&__head {

		padding: 20px 0;

	}

	&__list {

		display: flex;
		flex-wrap: wrap;
		gap: 16px;
		margin: 16px 0;

	}

	&__reset {

		.btn {

			box-shadow: inset 0 0 0 1px var(--red);
			stroke-width: 2px;
			color: var(--red);

		}

	}

}

.sort-select {

	display: flex;
	justify-content: space-between;

	@media $mdWidth {

		gap: var(--gap);

	}

	@media $smWidth {

		display: grid;
		gap: var(--gap);
		grid-template-columns: 1fr;

	}

	&__item {

		width: 366px;

		@media $smWidth {

			width: 100%;

			.btn {

				width: 100%;

			}

		}

	}

}

.filter-lines {

	display: flex;
	white-space: nowrap;
	user-select: none;
	gap: 16px;
	padding-bottom: 10px;

	@media $smWidth {

		gap: 8px;
		margin: calc( var(--indent) * -1);
		padding: var(--indent)

	}

	&__btn {

		position: relative;
		cursor: pointer;

		@media $desktop {

			&:hover {

				--text: var(--accent);

			}

		}

	}

	&__input {

		position: absolute;
		top: 0;
		left: 0;
		appearance: none;
		cursor: pointer;

	}

	&__input:checked + &__label {

		color: #fff;
		border-color: var(--main);
		background-color: var(--main);

	}

	&__label {

		display: block;
		font-size: 18px;
		color: var(--text);
		padding: 12px 24px;
		border: 1px solid;
		border-radius: var(--radius);

		@media $smWidth {

			font-weight: 500;
			font-size: 14px;
			padding: 12px 16px;

		}

	}

}