/* h */

.h1, .h2, .h3 {

	font-size: 82px;
	font-family: 'Helvetica Neue', sans-serif;
	font-weight: 700;
	line-height: 90px;
	text-wrap: balance;

}

.h2 {

	font-size: 40px;
	line-height: 1.4;

	@media $mdWidth {


	}

	@media $smWidth {


	}

}

.h3 {

	font-size: 24px;
	line-height: 32px;

}