
@font-face {
  font-display: swap;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/jost-v20-latin-400.woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/jost-v20-latin-500.woff2');
}
