.form-price-list {

	margin: -80px 0 74px;
	padding: var(--padding);
	gap: 24px;
	display: grid;
	background-color: #F6F8F1;
	border: 1px solid #E5E5E5;
	box-shadow: var(--box-shadow);
	border-radius: 16px;

	@media $mdWidth {

		margin: 0;

	}

	@media $smWidth {

		padding: 40px 16px;

	}

	&__fieldset {

		display: grid;
		gap: 24px;
		align-items: flex-end;
		grid-template-columns: 1fr 1fr auto;

		@media $mdWidth {

			grid-template-columns: 1fr 1fr;

		}

		@media $smWidth {

			grid-template-columns: 1fr;

		}

	}

}