.header {

	flex-shrink: 0;
	position: absolute;
	z-index: 8;
	top: var(--margin);
	left: 0;
	right: 0;

	&__grid {

		display: grid;
		align-items: center;
		grid-template-areas: "logo menu btns";
		grid-template-columns: auto 1fr auto;

	}

	&__logo {

		grid-area: logo;

	}

	&__menu {

		grid-area: menu;

		ul {

			display: flex;
			justify-content: center;
			gap: 80px;

		}

		a {

			font-weight: 500;
			font-size: 18px;
			color: #fff;

		}

	}

	&__btns {

		grid-area: btns;
		display: flex;
		gap: 20px;

	}

}
