.header {

	flex-shrink: 0;
	position: sticky;
	z-index: 8;
	top: -48px;
	left: 0;
	right: 0;
	background-color: #fff;
	margin-bottom: 16px;

	&.is-fixed {

		box-shadow: var(--box-shadow);

	}

	@media $mdWidth {

		position: relative;
		top: 0;

		.menu-show & {

			flex-grow: 1;
			display: flex;
			flex-direction: column;

		}

	}

	.center {

		@media $mdWidth {

			width: 100%;

		}

	}

	&__top {

		position: relative;
		z-index: 4;
		padding: 8px 0;

		&-phone {

			a {

				display: flex;
				align-items: center;
				padding: 8px;
				gap: 4px;
				font-weight: 500;
				font-size: 14px;
				line-height: 16px;
				color: var(--text);

			}

		}

		@media $smWidth {

			display: none;

		}

	}

	&__btn-menu {

		order: 5;

		@media $desktop {

			display: none;

		}

		@media $tablet {

		}

	}

	&__user {

		display: flex;
		flex-shrink: 0;
		position: relative;

		@media $desktop {

			&:hover {

				.header-user {

					display: block;

				}

			}

		}

		.btn {

			height: 32px;
			line-height: 32px;
			font-size: 16px;
			margin-left: var(--padding);

			@media $desktop {

				&:hover {

					text-decoration: underline;

				}

			}

		}

	}

	&-city {

		margin-left: -8px;

		&__btn {

			display: flex;
			align-items: center;
			padding: 8px;
			gap: 4px;
			font-weight: 500;
			font-size: 14px;
			line-height: 16px;

			&:not(:hover) {

				text-decoration: underline;

			}

		}

	}

	&__menu-top {

		flex-grow: 1;
		display: flex;
		justify-content: flex-end;

		@media $mdWidth {

			display: none;

		}

	}

	&__main {

		padding: 8px 0;

		&-inner {

			display: flex;
			justify-content: space-between;
			align-items: center;
			position: relative;

			@media $mdWidth {

				gap: 16px;

			}

			@media $smWidth {

				gap: 8px;

			}

		}

		&-right {

			@media $mdWidth {

				order: 2;

			}

		}

	}

	&__logo {

		align-self: center;

		@media $mdWidth {

			order: 1;
			flex-grow: 1;

		}

		img {

			object-fit: contain;

			@media $smWidth {

				width: 90px;
				height: 40px;

			}

		}

	}

	&__search {

		width: 440px;
		height: 56px;
		position: relative;

		@media $lgWidth {

			width: 256px;

		}

		@media $mdWidth {

			width: 32px;
			height: 32px;
			flex-shrink: 0;
			order: 3;

		}

	}

	&__address {

		a {

			display: block;
			padding: 8px;
			font-weight: 500;
			font-size: 14px;
			line-height: 16px;
			color: var(--text);

		}

	}

	&-phone {

		position: relative;
		display: flex;
		align-items: center;
		white-space: nowrap;
		gap: 8px;

		@media $smWidth {

			body:not(.menu-show) & {

				&__value {

					display: none;

				}

				svg {

					width: 32px;
					height: 32px;

				}

			}

		}

		svg {

			color: var(--main);

		}

		.h6 {

			display: block;

			@media $xsWidth {

				font-size: 10px !important;

			}

		}

		&__pref {

			font-weight: 500;
			font-size: 14px;
			line-height: 16px;
			color: var(--main);
			display: block;

			@media $smWidth {

				body:not(.menu-show) & {

					font-weight: 400;
					font-size: 10px;
					line-height: 15px;

				}

			}

		}

	}

	&__cart {

		color: var(--main);
		order: 4;
		stroke-width: 1.5;

		@media $desktop {

			display: none;

		}

	}

}

.header-search {

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	&__input {

		padding: 16px 24px;
		border-color: #E5E5E5 !important;

		&::placeholder {

			font-style: italic;
			font-weight: 300;

		}

		@media $mdWidth {

			padding: 0 !important;
			height: 56px;
			opacity: 0;

		}

		@media $smWidth {

			height: 32px;

		}

	}

	&__submit {

		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
		width: 24px;
		height: 24px;
		right: 24px;
		stroke-width: 2px;

		@media $mdWidth {

			margin: 0;
			width: 32px;
			height: 32px;
			right: 0;
			stroke-width: 1px;
			pointer-events: none;

			svg {

				width: 32px;
				height: 32px;

			}

		}

	}

}

.header-action {

	display: flex;
	align-items: center;
	gap: var(--padding);

	@media $lgWidth {

		gap: 16px;

	}

	@media $mdWidth {

		order: 2;

		.menu-show & {

			display: block;
			margin-top: auto;
			padding: 8px var(--indent);

		}

	}

	&__contacts {

		display: flex;
		gap: var(--gap);

		@media $lgWidth {

			gap: 8px;

		}

		@media $mdWidth {

			gap: 16px;

		}

		@media $smWidth {

			gap: 8px;

			.menu-show & {

				padding: 0px 16px 16px;
				gap: 24px;

				.h6 {

					font-size: 16px;

				}

			}

		}

	}

	&__btns {

		display: flex;
		gap: var(--gap);

		.btn {

			min-width: 220px;

			@media $lgWidth {

				min-width: 0;

			}

		}

		@media $mdWidth {

			display: grid;
			gap: 16px;
			margin-top: 16px;

			body:not(.menu-show) & {

				display: none;

			}

		}

		@media $smWidth {

			.btn {

				height: 40px;
				line-height: 40px;
				font-size: 14px;
				padding: 0;

			}

		}

	}

	&__messenger {

		display: flex;
		gap: inherit;

		@media $smWidth {

			body:not(.menu-show) & {

				display: none;

			}

		}

	}

}

.header-user {

	position: absolute;
	padding: 24px;
	width: 329px;
	right: 0;
	top: 30px;
	background-color: #fff;
	z-index: 1;
	box-shadow: var(--box-shadow);
	display: none;

	&__notification {

		float: right;
		width: 24px;
		height: 24px;
		margin-top: 4px;
		color: var(--main);
		position: relative;

		span {

			font-weight: 500;
			font-size: 14px;
			line-height: 16px;
			color: #fff;
			position: absolute;
			width: 16px;
			height: 16px;
			left: -4px;
			top: -4px;
			text-align: center;
			background-color: var(--red);
			border-radius: 8px;

		}

	}

	&__name,
	&__phone {

		margin-bottom: 8px;
		font-weight: 400;
		font-size: 24px;
		line-height: 1.2;
		color: #000;

	}

	&__menu {

		margin-top: var(--padding);

		&-item {

			margin-top: 8px;

			&.is-sep {

				margin-top: 24px;

			}

		}

		a {

			display: flex;
			align-items: center;
			font-weight: 600;
			font-size: 14px;
			color: var(--gray);

			svg {

				fill: var(--main);
				margin: 8px 12px 8px 8px;
				flex-shrink: 0;

			}

		}

	}

}

.header-cart {

	box-shadow: none !important;
	min-width: 220px;
	stroke-width: 2;

	@media $lgWidth {

		padding: 0;
		min-width: 0;

	}

	@media $mdWidth {

		display: none;

	}

}

.btn-menu-toggle {

	width: 32px;
	height: 32px;

	use + use {

		opacity: 0;

	}

	.menu-show & use {

		opacity: 0;

		& + use {

			opacity: 1;

		}

	}

}
