.header {

	flex-shrink: 0;
	position: absolute;
	z-index: 8;
	top: var(--margin);
	left: 0;
	right: 0;

	.center {

		@media $mdWidth {

			width: 100%;
			--indent: 32px;

		}

		@media $smWidth {

			--indent: 20px;

		}

	}

	&__grid {

		display: grid;
		align-items: center;
		grid-template-areas: "logo menu btns";
		grid-template-columns: auto 1fr auto;

	}

	&__logo {

		grid-area: logo;

		@media $lgWidth {

			width: 148px;

			img {

				width: 123px;
				height: 20px;
				object-fit: contain;

			}

		}

	}

	&__menu {

		grid-area: menu;

		@media $mdWidth {

			display: none;

		}

		ul {

			display: flex;
			justify-content: center;
			gap: 80px;

			@media $lgWidth {

				gap: 50px;

			}

		}

		a {

			font-weight: 500;
			font-size: 18px;
			color: #fff;

			@media $lgWidth {

				font-size: 14px;

			}

		}

	}

	&__btns {

		grid-area: btns;
		display: flex;
		gap: 20px;

		@media $lgWidth {

			gap: 10px;

			.btn--light {

				padding-left: 16px;
				padding-right: 16px;

			}

		}

		@media $smWidth {

			a {

				display: none;

			}

		}

	}

}



.btn-menu-toggle {

	display: none;

	@media $mdWidth {

		display: flex;
		height: 48px;
		width: 48px;
		padding: 0 !important;

	}

}

