.menu-top {

	display: flex;

	a {

		display: block;
		padding: 8px 16px;
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;

		@media $desktop {

			&:hover {

				text-decoration: underline;

			}

		}

	}

}

.menu-main {

	@media $desktop {

		display: flex;
		gap: 24px;

		@media $lgWidth {

			gap: 0;

		}

		&__link {

			display: flex;
			align-items: center;
			gap: 4px;
			font-weight: 500;
			color: var(--color);
			font-size: 18px;
			padding: 10px 16px;
			white-space: nowrap;

			@media $lgWidth {

				padding: 8px;

			}

			&:hover {

				color: var(--gray);

			}

		}

	}

	@media $mdWidth {

		&__link {

			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 16px;
			gap: 4px;
			font-weight: 500;
			font-size: 14px;

			svg {

				transform: rotate(-90deg);

			}

		}

	}

	@media $xsWidth {

		&__link {

			padding: 8px;

		}

	}

}

.menu-catalog {

	position: relative;
	padding: 8px 0;

	@media $mdWidth {

		display: none;

		&__all,
		&__sub {

			display: none;

		}

		&__link {

			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 16px;
			gap: 4px;
			font-weight: 500;
			font-size: 14px;

			svg {

				stroke-width: 2px;

			}

		}

	}

	@media $xsWidth {

		&__link {

			padding: 8px;

		}

	}

	@media $desktop {

		&__inner {

			display: flex;
			gap: 24px;
			align-items: center;
			position: relative;

		}

		&__item {

			position: relative;
			stroke-width: 2px;

		}

		&__item:hover > &__link {

			color: var(--main);
			background-color: var(--substrate);

		}

		&__link {

			padding: 8px 16px;
			display: flex;
			gap: 4px;
			align-items: center;
			font-weight: 500;
			min-height: 56px;
			justify-content: space-between;

		}

		&__sub {

			position: absolute;
			top: 100%;
			left: 0;
			width: 336px;
			box-shadow: var(--box-shadow);
			background-color: #FFF;
			pointer-events: none;
			opacity: 0;

			@media $lgWidth {

				width: 250px;

			}

			& & {

				left: 100%;
				top: 0;

			}

		}

		&__all > &__sub {

			margin-top: 12px;

			&::before {

				position: absolute;
				height: 16px;
				left: 0;
				right: 0;
				bottom: 100%;
				content: '';

			}

		}

		&__all:hover > &__sub,
		&__item:hover > &__sub,
		.menu-main__item:hover > &__sub {

			pointer-events: auto;
			opacity: 1;

		}

	}

	&__main {

		flex-grow: 1;

	}

	&__all {

		position: relative;

	}

	&__btn-toggle {

		padding: 0 16px;

	}

}

.menu-main-sub {

	&__back {

		svg {

			transform: none !important;
			stroke-width: 2px;

		}

	}

}

.menu-show {

	@media $mdWidth {

		.main,
		.footer {

			display: none;

		}

		.menu-catalog {

			display: block;

		}

	}

}
