.modal {

	flex-grow: 1;
	position: relative;
	z-index: 10;
	display: none;
	width: 100%;
	align-items: center;
	justify-content: center;
	padding: var(--indent);

	@media $desktop {

		backdrop-filter: blur(2px);

	}

	@media $smWidth {

		padding: 0;

	}

	&--search {

		padding: var(--modalTopSeach);
		align-items: flex-start;

		@media $smWidth {

			padding: 8px;

		}

	}

	&__box {

		position: relative;
		max-width: 100%;

	}

	&__item {

		padding: 64px 32px;
		width: 600px;
		background-color: var(--substrate);

		@media $smWidth {

			width: 400px;
			max-width: 100%;
			padding: 40px 24px;

		}

	}

	&__close-btn {

		position: absolute;
		top: 8px;
		right: 8px;
		stroke-width: 2px;

		.modal__item--cart:not(.visuallyhidden) ~ & {

			top: var(--gap);
			right: var(--gap);

			@media $mdWidth {

				position: fixed;
				background-color: var(--bg);
				width: 40px;
				height: 40px;
				box-shadow: var(--box-shadow);
				display: flex;
				align-items: center;
				justify-content: center;
				stroke-width: 1.5px;

			}

		}

		.modal__item--search:not(.visuallyhidden) ~ & {

			@media $desktop {

				display: none;

			}

			@media $mdWidth {

				top: -24px;
				right: -24px;
				color: #fff;

			}

			@media $smWidth {

				top: 0;
				right: 0;
				color: #fff;

				svg {

					width: 32px;
					height: 32px;

				}

			}

		}

		@media $desktop {

			&:hover {

				color: var(--gray);

			}

		}

	}

}

.modal-show {

	.modal {

		display: flex;

	}

	.wrapper {

		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
		pointer-events: none;

		&::after {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			z-index: 9;
			opacity: .36;
			background-color: #181915;

		}

	}

}

.modal-city {

	display: flex;
	flex-direction: column;
	gap: var(--gap);

	&__list {

		column-count: 2;
		column-gap: var(--gap);

		@media $smWidth {

			column-count: auto;

		}

	}

	&__btn {

		display: block;
		cursor: pointer;
		break-inside: avoid;
		margin-bottom: 16px;
		text-align: left;

	}

	&__label {

		display: block;
		line-height: 1.2;
		font-weight: 500;

	}

	&__country {

		display: block;
		line-height: 1.2;

	}

}

.modal-form {

	display: flex;
	flex-direction: column;
	gap: var(--gap);

	&__text-after-rule {

		padding-left: 28px;
		font-size: 14px;

	}

}

.modal-to-work {

	width: 800px;
	max-width: 100%;
	padding: 32px;

	&__header {

		display: grid;
		gap: 16px;
		margin-bottom: 80px;
		font-size: 18px;

	}

	&__fieldset {

		margin: var(--gap) 0;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: var(--gap);

		@media $smWidth {

			grid-template-columns: 1fr;

		}

	}

}

.modal-preview-card-select {

	width: 1200px;
	background-color: #fff;
	display: grid;
	grid-template-columns: 290px 1fr;
	padding: 24px 32px;
	gap: 0 var(--gap);

	@media $mdWidth {

		max-width: 100%;
		padding: var(-gap);

	}

	@media $smWidth {

		grid-template-columns: 1fr;
		width: 100%;
		gap: var(--gap);
		padding: 24px 16px;

	}

	&__head {

		grid-row: span 2;

		@media $smWidth {

			display: flex;
			justify-content: center;

			img {

				width: 200px;
				height: 200px;
				object-fit: contain;

			}

		}

	}

	&__desc {

		font-size: 14px;
		color: var(--text);
		margin-top: 8px;

		@media $smWidth {

			font-size: 12px;

		}

	}

	&__list {

		margin: var(--padding) 0;
		max-height: 220px;
		min-height: 40vh;
		display: grid;
		gap: 8px;
		grid-template-columns: repeat(3, 1fr);

		@media $mdWidth {

			grid-template-columns: 1fr;
			margin: 24px 0;

		}

		@media $smWidth {

			max-height: 204px;

		}

	}

	&__item {

		position: relative;
		padding: 8px;
		gap: 8px;
		z-index: 1;
		display: flex;
		cursor: pointer;
		border-radius: var(--radius);

		img {

			border-radius: 50%;

		}

		input {

			position: absolute;
			top: 0;
			left: 0;
			appearance: none;

		}

		&-label {

			font-size: 12px;
			line-height: 14px;
			flex-grow: 1;

			&::before {

				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				content: '';
				border: 1px solid #E5E5E5;
				border-radius: var(--radius);
				z-index: -1;

			}

		}

		input:checked ~ &-label::before {

			background-color: var(--substrate);

		}

	}

	&__foot {

		display: flex;
		align-items: center;
		gap: var(--gap);

		@media $mdWidth {

			display: grid;

		}

		@media $smWidth {

			gap: 8px;

		}

		.price {

			flex-grow: 1;

			&__value {

				font-weight: 500;

			}

			&__old {

				font-size: 20px;

				@media $smWidth {

					font-size: 14px;

				}

			}

		}

		.preview-card-authorization {

			max-width: 258px;

			@media $smWidth {

				font-size: 12px;

			}

		}

	}

	&__forms {

		display: flex;
		gap: 8px;

		.preview-card-to-cart {

			.btn {

				min-width: 194px;

				@media $smWidth {

					width: 100%;

				}

			}

		}

	}

}

.modal-review {

	padding: var(--gap);
	display: grid;
	gap: var(--padding);

	&__rating {

		display: flex;
		gap: var(--gap);
		align-items: center;
		font-size: 18px;

	}

	&__stars {

		display: flex;
		gap: 4px;

	}

	&__star {

		position: relative;
		color: var(--gray);
		cursor: pointer;

		input {

			appearance: none;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;

		}

	}

	&__fieldset {

		display: grid;
		gap: var(--gap);
		grid-template-columns: 1fr 1fr;

		.inputbox--textarea {

			grid-column: span 2;

			@media $smWidth {

				grid-column: span 1;

			}

		}

		@media $smWidth {

			grid-template-columns: 1fr;

		}

	}

	&__foot {

		display: flex;
		align-items: center;
		gap: var(--gap);

		@media $smWidth {

			flex-direction: column-reverse;

		}

		.btn {

			min-width: 180px;

		}

		.checkbox__label {

			font-size: 13px;

		}

	}

	&__blockquote {

		display: grid;
		gap: 16px;

		blockquote {

			padding: 16px 20px;
			background-color: #FFF;
			border: 1px solid #E5E5E5;
			border-radius: var(--radius);
			font-style: italic;
			position: relative;

			&::before {

				position: absolute;
				top: 4px;
				left: 4px;
				content: '\275D';
				color: var(--text);
				font-size: 20px;

			}

			&::after {

				content: '\275E';
				color: var(--text);
				font-size: 20px;
				vertical-align: sub;

			}

		}

	}

}

.modal-club {

	display: flex;
	flex-direction: column;
	gap: var(--gap);

	.checkbox + .checkbox {

		margin-top: 8px;

	}

}

.modal-sms {

	display: grid;
	grid-template-columns: 1fr auto;
	gap: 12px;

	@media $smWidth {

		.btn {

			padding: 0 14px;
			font-size: 14px;

		}

		.input {

			height: 44px;
			line-height: 44px;
			padding: 0 12px;

			&::placeholder {

				font-size: 14px;

			}

		}

	}

	p {

		grid-column: span 2;

	}

}

.modal-file {

	display: flex;

	@media $smWidth {

		display: block;

	}

	&__head {

		flex-grow: 1;

	}

	&__desc {

		display: block;
		font-size: 14px;
		line-height: 24px;
		height: 24px;
		position: relative;
		color: var(--text);

		.ellipsis {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;

		}

	}

	&__body {

		flex-shrink: 0;
		position: relative;
		min-width: 128px;

		@media $smWidth {

			margin-top: 8px;
			display: block;
			font-size: 16px;

		}

	}

}
