.contacts {

	gap: 24px;
	align-items: flex-start;
	display: grid;
	grid-template-columns: 1fr 496px;

	@media $mdWidth {

		grid-template-columns: 1fr;

	}

}

.contacts-table {

	max-width: 976px;

	@media $smWidth {

		table, tbody, tr, th, td {

			display: block;
			font-size: 14px;
			width: auto;

		}

		tr:nth-child(2n) {

			background-color: var(--substrate);

		}

	}

	tr {

		@media $desktop {

			&:hover {

				background-color: var(--substrate);

			}

		}

	}

	th {

		text-align: left;
		font-weight: 500;
		padding: 16px;
		width: 300px;
		vertical-align: top;

	}

	td {

		text-align: left;
		padding: 16px;
		vertical-align: top;
		width: 338px;

		&[colspan] {

			width: auto;

		}

		a {

			font-weight: 600;

		}

		p + p {

			margin-top: 1em;

		}

	}

}