.pagin {

	display: flex;
	gap: 8px;

	&__link,
	&__sep {

		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		width: 40px;
		height: 40px;

		border: 1px solid;
		border-radius: var(--radius);
		font-size: 18px;
		color: var(--gray);
		stroke-width: 2px;

		@media $desktop {

			transition: var(--transitionDefault);

			a&:hover {

				color: var(--color);

			}

		}

		&.is-current {

			color: var(--main);

		}

	}

}