.pay-with {

	&__box {

		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: var(--padding) 0;
		gap: 32px;

		@media $lgWidth {

			img {

				max-width: 310px;
				height: auto;

			}

		}

	}

	&__content {

		text-align: center;
		max-width: 466px;

	}

	&__text {

		font-family: 'Helvetica Neue';
		font-size: 18px;
		line-height: 32px;
		margin-top: 24px;
		text-wrap: balance;

		@media $lgWidth {

			margin-top: 16px;
			font-size: 16px;
			line-height: 24px;

		}

	}

}