.readmore-text {

	&__body {

		transition: opacity var(--transitionDefault);

	}

	&:not(.is-open) &__body {

		overflow: hidden;
		height: 0;
		opacity: 0;

	}

	&__foot {

		display: flex;
		margin-top: -8px;

		@media $smWidth {

			margin-top: -4px;

		}

	}

	&__btn {

		color: var(--color);

	}

}