.review {

	&__item {

		padding: 16px 0;
		position: relative;
		border-bottom: 1px solid #E7E7E7;
		display: grid;
		align-items: flex-start;
		grid-template-columns: 288px 1fr;
		gap: 40px;

		@media $mdWidth {

			gap: 24px;

		}

		@media $smWidth {

			grid-template-columns: 1fr;

		}

	}

	&__group {

		margin: 16px 0;

	}

	&__sub {

		transition: opacity var(--transitionDefault);

	}

	&__group:not(.is-open) &__sub {

		overflow: hidden;
		height: 0;
		opacity: 0;

	}

	&__sub &__item {

		padding-left: 120px;
		margin-top: 16px;

		@media $mdWidth {

			padding-left: 24px;

		}

	}

	&__head {

		display: grid;
		gap: 8px;

	}

	&__text {

		display: grid;
		gap: 8px;

		@media $smWidth {

			font-size: 12px;
			line-height: 21px;

		}

	}

	&__foot {

		display: flex;
		justify-content: space-between;
		margin-top: 8px;

		@media $smWidth {

			margin-top: 12px;

		}

	}

	&__name {

		font-weight: 500;
		font-size: 18px;
		line-height: 1.2;

		@media $smWidth {

			font-size: 16px;

		}

	}

	&__rating {

		@media $smWidth {

			svg {

				width: 96px;
				height: auto;

			}

		}

	}

	&__mark {

		display: flex;
		gap: 4px;
		align-items: center;

		@media $smWidth {

			font-size: 12px;

		}

		svg {

			color: var(--green);

		}

	}

	&__date {

		@media $smWidth {

			font-size: 12px;

		}

	}

}

.ratio {

	position: relative;
	display: block;
	color: var(--gray);

}