.simplest-use {

	position: relative;
	padding: 130px 0 160px;
	margin-bottom: -60px;
	overflow: hidden;

	@media $lgWidth {

		margin-bottom: -70px;

	}

	@media $mdWidth {

		margin-bottom: -158px;
		padding: 160px 0 160px;

	}

	&::before {

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 839px;
		content: '';
		background-size: 100% 100%;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1632' height='839' fill='none' preserveAspectRatio='none' viewBox='0 0 1632 839'%3E%3Cpath fill='url(%23a)' d='M1635 561.665V0H0v839z'/%3E%3Cdefs%3E%3ClinearGradient id='a' x1='1172.18' x2='38.115' y1='0' y2='887.22' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%230e33e4'/%3E%3Cstop offset='1' stop-color='%235da0ff'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");

		@media $lgWidth {

			height: 760px;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1023' height='760' fill='none' preserveAspectRatio='none' viewBox='0 0 1023 760'%3E%3Cpath fill='url(%23a)' d='M1024 562.335V0H0v760z'/%3E%3Cdefs%3E%3ClinearGradient id='a' x1='734.138' x2='-151.673' y1='0' y2='479.142' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%230e33e4'/%3E%3Cstop offset='1' stop-color='%235da0ff'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");

		}

		@media $mdWidth {

			height: 846px;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='743' height='846' fill='none' preserveAspectRatio='none' viewBox='0 0 743 846'%3E%3Cpath fill='url(%23a)' d='M743 625.967V0H0v846z'/%3E%3Cdefs%3E%3ClinearGradient id='a' x1='532.68' x2='-206.247' y1='0' y2='260.529' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%230e33e4'/%3E%3Cstop offset='1' stop-color='%235da0ff'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");

		}

		@media $smWidth {

			height: 745px;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='393' height='745' fill='none' preserveAspectRatio='none' viewBox='0 0 393 745'%3E%3Cpath fill='url(%23a)' d='M393 651.418V0H0v745z'/%3E%3Cdefs%3E%3ClinearGradient id='a' x1='281.754' x2='-138.816' y1='0' y2='89.066' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%230e33e4'/%3E%3Cstop offset='1' stop-color='%235da0ff'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");

		}

	}

	&__box {

		display: flex;
		align-items: center;
		justify-content: space-between;

		@media $mdWidth {

			display: block;

		}

	}

	&__content {

		width: 640px;
		color: #fff;

		@media $lgWidth {

			max-width: 47%;
			padding-bottom: 86px;

		}

		@media $mdWidth {

			text-align: center;
			max-width: 100%;
			width: auto;
			padding-bottom: 80px;

		}

		@media $smWidth {

			padding-bottom: 64px;

		}

	}

	&__title {

		margin-bottom: 10px;

	}

	&__btn {

		display: flex;

		.btn {

			min-width: 300px;
			padding: 12px;

		}

		@media $mdWidth {

			justify-content: center;

		}

	}

	&__text {

		margin-bottom: 56px;
		font-size: 24px;

		@media $lgWidth {

			font-size: 16px;
			margin-bottom: 40px;

		}

		@media $mdWidth {

			max-width: 400px;
			margin: 0 auto 40px;

		}

		@media $smWidth {

			font-size: 14px;
			line-height: 24px;

		}

	}

	&__img {

		position: relative;
		padding-bottom: 42px;
		width: 557px;
		margin-top: 8px;

		@media $lgWidth {

			max-width: 47%;
			padding-bottom: 18px;

		}

		@media $mdWidth {

			max-width: 548px;
			margin: auto;

		}

		@media $smWidth {

			max-width: 353px;
			width: 100%;

		}

		&-desktop {

			img {

				border: 1px solid rgba(10, 34, 57, 0.06);
				box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
				border-radius: 40px;

				@media $mdWidth {

					width: 100%;
					height: auto;

				}

				@media $smWidth {

					border-radius: 10px;

				}

			}

		}

		&-mobile {

			position: absolute;
			left: -86px;
			bottom: -150px;

			@media $lgWidth {

				left: -80px;

			}

			@media $mdWidth {

				width: 328px;
				left: -70px;
				bottom: -84px;

				img {

					width: 100%;
					height: auto;

				}

			}

			@media $smWidth {

				width: 205px;
				left: -43px;
				bottom: -50px;
				max-width: 60%;

			}

		}

	}

}