.tabs {

	&__nav-center {

		display: flex;
		justify-content: center;
		gap: 8px;
		flex-wrap: wrap;

		@media $smWidth {

			flex-direction: column;

			.btn {

				height: 37px;
				line-height: 37px;
				font-size: 14px;

			}

		}

	}

	&__nav-center-row {

		display: flex;
		justify-content: center;
		gap: 16px;

		@media $smWidth {

			.btn {

				height: 37px;
				line-height: 37px;
				font-size: 14px;

			}

		}

	}

	&__nav-multiply {

		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 16px;

		@media $smWidth {

			justify-content: flex-start;
			gap: 8px;

			.btn {

				padding: 0 16px;
				height: 32px;
				font-size: 14px;
				line-height: 32px;

			}

		}

	}

}