.why-we {

	&__header {

		max-width: 1216px;
		margin: auto;
		display: grid;
		gap: 16px;
		font-size: 18px;
		margin-bottom: 80px;
		text-align: center;

		@media $smWidth {

			font-size: 16px;
			margin-bottom: 40px;

		}

	}

	&__list {

		display: grid;
		gap: var(--gap);
		grid-template-columns: repeat(3, 1fr);

		@media $mdWidth {

			grid-template-columns: 1fr 1fr;

		}

		@media $smWidth {

			grid-template-columns: 1fr;

		}

	}

	&__item {

		padding: var(--gap);
		text-align: center;

		@media $desktop {

			border-radius: var(--radius);
			transition: box-shadow var(--transitionDefault);

			&:hover {

				box-shadow: var(--box-shadow);
				outline:1px solid #E5E5E5;

			}

		}

		svg {

			margin: 16px auto 32px;
			stroke-width: 1px;
			color: var(--main);

		}

		p {

			margin-top: 8px;

		}

	}

	/* column */

	&--column {

		display: grid;
		gap: var(--gap);
		align-items: flex-start;
		grid-template-columns: 496px 1fr; /* 1016 */

		@media $lgWidth {

			grid-template-columns: 1fr;

		}

	}

	&--column &__header {

		text-align: left;
		margin: 0;

	}

	&--column &__list {

		grid-template-columns: repeat(2, 1fr);

		@media $lgWidth {

			grid-template-columns: repeat(auto-fit, minmax(366px, 1fr));

		}

		@media $mdWidth {

			grid-template-columns: 1fr 1fr;

		}

		@media $smWidth {

			grid-template-columns: 1fr;

		}

	}

}