			<form action="/" class="modal__item modal__item--cart cart">

				<p class="cart__head h2 h3-sm uppercase-desktop">
					Ваша корзина
				</p>

				<div class="cart__grid">

					<div class="cart__body">

						<div class="cart__item">

							<div class="cart-item cart-item--gift">

								<div class="cart-item__main">

									<a href="/" class="cart-item__head">

										<picture>

											<source srcset="/img/preview-card/100.webp 1x, /img/preview-card/200.webp 2x" type="image/webp">
											<source srcset="/img/preview-card/100.jpg 1x, /img/preview-card/200.jpg 2x">

											<img src="/img/preview-card/100.jpg" alt="Academie Ultimate Line Correcting (Корректирующая сыворотка), а если длинее то обрезать" loading="lazy" width="100" height="100">

										</picture>

									</a>

									<div class="cart-item__body">

										<p class="cart-item__name h6">

											<a href="/" target="_blank">
												Academie Ultimate Line Correcting (Корректирующая сыворотка), а если длинее то обрезать
											</a>

										</p>

										<p class="cart-item__gift h6">

											<span class="cart-item__gift-ico">

												<svg width="24" height="24">
													<use xlink:href="#svg-gift"/>
												</svg>

											</span>

											Подарок

										</p>

									</div>

								</div>

							</div>

						</div>

{% for i in range(1,10) %}

						<div class="cart__item">

							<div class="cart-item">

								<div class="cart-item__main">

									<a href="/" class="cart-item__head">

										<picture>

											<source srcset="/img/preview-card/100.webp 1x, /img/preview-card/200.webp 2x" type="image/webp">
											<source srcset="/img/preview-card/100.jpg 1x, /img/preview-card/200.jpg 2x">

											<img src="/img/preview-card/100.jpg" alt="Academie Ultimate Line Correcting (Корректирующая сыворотка), а если длинее то обрезать" loading="lazy" width="100" height="100">

										</picture>

									</a>

									<div class="cart-item__body">

										<p class="cart-item__name h6">

											<a href="/" target="_blank">
												Academie Ultimate Line Correcting (Корректирующая сыворотка), а если длинее то обрезать
											</a>

										</p>

										<dl class="cart-item__param">

											<dt>
												Код
											</dt>

											<dd>
												494303
											</dd>

											<dt>
												Объем
											</dt>

											<dd>
												494303
											</dd>

											<dt>
												Цвет
											</dt>

											<dd>
												Зеленый
											</dd>

										</dl>

									</div>

								</div>

								<div class="cart-item__action">

									<div class="cart-item__price">

										<div class="price">

											<p class="price__value h6">
												2581 ₽
											</p>

											<s class="price__old">
												2581 ₽
											</s>

										</div>

									</div>

									<div class="cart-item__quantity">

										<button class="button" type="button" aria-label="Удалить один товар из корзину">
											-
										</button>

										<input inputmode="numeric" value="2" class="input">

										<button class="button" type="button" aria-label="Добавить еще один товар в корзину">
											+
										</button>

									</div>

									<div class="cart-item__btns">

									{% if loop.index === 2 %}

										<button class="button cart-item__favorite is-added" aria-label="Удалить из избранного" type="button">
											<svg width="24" height="24">
												<use xlink:href="#svg-heart"/>
											</svg>
										</button>

									{% else %}

										<button class="button cart-item__favorite" aria-label="Добавить в избранное" type="button">
											<svg width="24" height="24">
												<use xlink:href="#svg-heart"/>
											</svg>
										</button>

									{% endif %}

										<button class="button cart-item__remove" aria-label="Удалить из корзины" type="button">
											<svg width="24" height="24">
												<use xlink:href="#svg-trash"/>
											</svg>
										</button>

									</div>

								</div>

							</div>

						</div>

{% endfor %}


					</div>

					<div class="cart__foot">

						<div class="cart-next">

							<div class="cart-next__progress">

								<ul>

									<li class="is-active">
										1500₽
									</li>

									<li>
										2500₽
									</li>

									<li>
										3500₽
									</li>

								</ul>

								<p>
									Вы получаете бесплатную доставку в пункты самовывоза, осталось еще <span class="color-main">750 рублей</span> до бесплатной доставки курьеров СДЭК
								</p>

							</div>

{% include "order/total.html" %}

							<div class="cart-next__promocode">

								<input class="input" placeholder="У вас есть промокод">

								<svg width="24" height="24">
									<use xlink:href="#svg-arrow-narrow-right"/>
								</svg>

								<p>
									Промокод не применяется к акционным и скидочным товарам
								</p>

							</div>

							<div class="cart-next__promocode">

								<input class="input" placeholder="Подарочный сертификат">

								<svg width="24" height="24">
									<use xlink:href="#svg-arrow-narrow-right"/>
								</svg>

								<p>
									Промокод не применяется к акционным и скидочным товарам
								</p>

							</div>

							<div class="cart-next__foot hidden-md">

								<button class="btn btn--dark">
									Оформить заказ
								</button>

								<button class="btn btn--outline" type="button">
									Есть вопросы
								</button>

							</div>

						</div>

					</div>

					<div class="cart__btn-submit visible-md">

						<button class="btn btn--dark btn--h56-sm w100p">
							Оформить заказ
						</button>

					</div>

					<div class="cart__btn-help visible-md">

						<button class="btn btn--outline btn--h56-sm w100p" type="button">
							Есть вопросы
						</button>

					</div>

				</div>

			</form>