			<form action="/" class="modal__item modal__item--city modal-city">

				<label class="inputbox">

					<span class="inputbox__label">
						Где вы находитесь
					</span>

					<span class="inputbox__icon">

						<input placeholder="Введите город" name="keywords" class="input" required="required" autocomplete="off">

						<svg width="24" height="24">
							<use xlink:href="#svg-marker"/>
						</svg>

					</span>

				</label>

				<p class="h6 color-main">
					Наиболее популярные города
				</p>

				<div class="modal-city__list">

{% for item in [

	{
		name     : "Москва",
		country  : "Россия"
	},
	{
		name     : "Минск",
		country  : "Белорусь"
	},
	{
		name     : "Астана",
		country  : "Казахстан"
	},
	{
		name     : "Екатеринбург",
		country  : "Россия"
	},
	{
		name     : "Анапа",
		country  : "Россия"
	},
	{
		name     : "Петропавловск-Камчатский",
		country  : "Россия"
	}

] %}

					<button type="button" class="button modal-city__btn">

						<span class="modal-city__label">
							{{ item.name }}
						</span>

						<span class="modal-city__country">
							{{ item.country }}
						</span>

					</button>

{% endfor %}

				</div>

			</form>