			<form action="/" class="modal__item modal__item--club modal-club">

				<p class="h5 color-main">
					Заявка на вступление в клуб Профессионалов Grand Cosmetic
				</p>

				<p class="h6">
					Для оформления заявки заполните поля формы отправки, приложив сканы ваших документов об образовании в бьюти-сфере.
				</p>

				<label class="inputbox">

					<span class="inputbox__label is-required">
						Как вас зовут
					</span>

					<input class="input" name="name" placeholder="Маша" required="required">

				</label>

				<label class="inputbox">

					<span class="inputbox__label is-required">
						Ваша фамилия
					</span>

					<input class="input" name="lastname" placeholder="Кузякина" required="required">

				</label>

				<label class="inputbox">

					<span class="inputbox__label is-required">
						Ваш телефон, Whatsapp, Telegram
					</span>

					<input class="input inputmask inputmask--phone" name="phone" placeholder="+7 (---) --- -- --" type="tel" inputmode="tel" required="required">

				</label>

				<div class="modal-sms">

					<input class="input" name="code" placeholder="Код подтверждения" inputmode="numeric">

					<button class="btn btn--dark" type="button">
						Получить код
					</button>

				</div>

				<div class="modal-sms">

					<input class="input" name="code" placeholder="Код подтверждения" inputmode="numeric">

					<button class="btn btn--dark" type="button" disabled="disabled">
						Получить код
					</button>

					<p class="color-red w100p">
						Новый код через <b>60</b> секунд
					</p>

				</div>

				<label class="inputbox">

					<span class="inputbox__label">
						Ваша почта
					</span>

					<input class="input" name="email" placeholder="kuzyakina@mail.ru" type="email">

				</label>

				<label class="inputbox">

					<span class="inputbox__label">
						Ваша организация (если есть)
					</span>

					<input class="input" name="org" placeholder="Название">

				</label>

				<label class="inputbox">

					<span class="inputbox__label">
						Дата рождения
					</span>

					<input class="input" name="birthdate" type="date">

				</label>

				<div class="inputbox">

					<p class="inputbox__label is-required">
						Выберите направление
					</p>

{% for label in ["Косметология","Массаж","Парикмахерское искусство","Покупаю для себя","Депиляция","Другое","Маникюр и педикюр"] %}

					<label class="checkbox">

						<input type="checkbox" class="checkbox__input" name="bisness" value="{{ label }}">

						<span class="checkbox__label">
							{{ label }}
						</span>

					</label>

{% endfor %}

				</div>

				<label class="inputbox inputbox--textarea">

					<span class="inputbox__label">
						Предпочтения по бренду
					</span>

					<textarea placeholder="Можно перечислить через запятую" class="input is-scroll autosize" name="brand"></textarea>

				</label>

				<label class="inputbox inputbox--textarea">

					<span class="inputbox__label">
						Ваши комментарии, пожелания
					</span>

					<textarea placeholder="Можно перечислить через запятую" class="input is-scroll autosize" name="message"></textarea>

				</label>

				<p class="h6 color-main">
					Загрузите сканы документов:
				<p>

				<p class="h6">
					Только для специалистов
				</p>

{% for file in [
	{
		label : "Первый разворот паспорта",
		desc  : "Максимальный размер файла 2Мб"
	},
	{
		label : "Дипломы",
		desc  : "Можно выбрать несколько файлов"
	},
	{
		label : "Реквизиты организации",
		desc  : "В формате doc, pdf, txt, макс. размер 1 Мб"
	}
] %}

				<div class="modal-file">

					<p class="modal-file__head">

						{{ file.label }}

						<small class="modal-file__desc">

							<span class="ellipsis">
								{{ file.desc }}
							</span>

						</small>

					</p>

					<label class="modal-file__body">

						<input type="file" name="files[]" class="modal-file__input visuallyhidden" multiple="multiple">

						<span class="btn btn--tag" data-alt="Загрузить заново">
							Загрузить
						</span>

					</label>

				</div>

{% endfor %}

{% include "_include/form/checkbox-rule.html" %}

				<button class="btn btn--dark w100p mb-16">
					Отправить
				</button>

			</form>