			<form action="/" class="modal__item modal__item--login-telegram modal-form is-autofocus">

				<p class="h5 color-main">
					Войти или зарегистрироваться
				</p>

{% set inputbox = {
	label : 'По номеру телефона'
} %}

{% include "_include/form/phone.html" %}

				<p class="h6 color-main">
					Войти через
				</p>

				<button class="btn btn--dark">
					<svg width="24" height="24">
						<use xlink:href="#svg-telegram"/>
					</svg>
					Через Telegram
				</button>

				<button class="btn btn--outline">
					<svg width="24" height="24">
						<use xlink:href="#svg-message"/>
					</svg>
					Получить код SMS или по звонку
				</button>

{% include "_include/form/checkbox-rule.html" %}

				<p class="modal-form__text-after-rule">
					Если вы не можете зарегистрировать или получить доступ к своей учетной записи, свяжитесь по <a href="/" class="link" target="_blank" rel="noopener nofollow">whatsapp</a> или <a href="/" class="link" target="_blank" rel="noopener nofollow">telegram</a>
				</p>

			</form>