			<form action="/" class="modal__item modal__item--review modal-review">

				<p class="h4">

					Оставить отзыв на

					<span class="color-main">
						Academie Ultimate Line Correcting serum (Корректирующая сыворотка от морщин), 30 мл
					</span>

				</p>

				<div class="modal-review__rating">

					Ваша оценка:

					<div class="modal-review__stars">

{% for value in [1,2,3,4,5] %}

						<label class="modal-review__star">

							<input type="radio" name="star" value="{{ value }}">

							<svg width="24" height="24" viewBox="0 0 24 24">
								<use xlink:href="#svg-star"/>
							</svg>

							<span class="visuallyhidden">
								{{ value }}
							</span>

						</label>

{% endfor %}

					</div>

				</div>

				<div class="modal-review__fieldset">

{% include "_include/form/name.html" %}

{% include "_include/form/email.html" %}

{% include "_include/form/textarea.html" %}

				</div>

				<div class="modal-review__foot">

					<button class="btn btn--dark">
						Оставить отзыв
					</button>

{% include "_include/form/checkbox-rule.html" %}

				</div>

			</form>