			<form action="/" class="modal__item modal__item--search search is-autofocus" id="search">

				<div class="search__fieldset">

					<div class="search__select">

						<div class="select">

							<select name="where">

								<option value="1" data-short="В товарах">Искать в товарах</option>
								<option value="2" data-short="Учебный центр">Искать в учебном центре</option>

							</select>

						</div>

					</div>

					<input name="keywords" class="search__input input" placeholder="Поиск по сайту">

					<button class="search__submit button" aria-label="Искать">

						<svg width="24" height="24">
							<use xlink:href="#svg-search"/>
						</svg>

					</button>

				</div>

				<div class="search__result">

{% if title === "Поиск" %}

					<div class="search__result-bg">

						<ul class="search__tags">

{% for tag in ["Крокодилы","Крокодильи слезы в банках","Крокодильи слезы в банках","Крокодильи слезы в банках","Крокодилы","Крокодильи слезы в банках","Крокодилы в томатах","Крокодильи слезы в банках","Крокодилы","Крокодилы"] %}

							<li>

								<button class="btn btn--tag" type="button">
									{{ tag }}
								</button>

							</li>

{% endfor %}

						</ul>

					</div>

{% endif %}

					<div class="search__result-bg">

						<div class="search__result-inner is-scroll">

							<div class="search__column">

{% if title !== "Поиск" %}

								<div class="search__head">

									<p class="h5">
										История поиска
									</p>

									<button class="btn btn--hash" type="button">
										Очистить историю
									</button>

								</div>
{% endif %}

								<ul class="search__history">

{% for i in range(0,4) %}

									<li>

										<button class="button" type="button">

{% if title === "Поиск" %}

											<svg width="24" height="24">
												<use xlink:href="#svg-search"/>
											</svg>

											Еще какие то подсказки по товарам

{% else %}

											<svg width="24" height="24">
												<use xlink:href="#svg-clock-rewind"/>
											</svg>

											Мы что-то тут искали и это наш запрос

{% endif %}

										</button>

									</li>

{% endfor %}

								</ul>

{% if title === "Поиск" %}

								<ul class="search__category">

{% for i in range(0,5) %}

									<li>

										<a class="search__category-link" href="/">

											<img class="search__category-img" src="/img/preview-card/40.jpg" srcset="/img/preview-card/80.jpg 2x" width="40" height="40" loading="lazy" alt="Это категория товара">

											<span class="search__category-name">
												Это категория товара
											</span>

											<span class="search__category-label">
												Категория
											</span>

										</a>

									</li>

{% endfor %}

								</ul>

{% endif %}

							</div>

							<div class="search__column">

								<div class="search__head">

									<p class="h5">
{% if title === "Поиск" %}
										Тут показать товары-подсказки или убрать блок
{% else %}
										Рекомендуем для вас
{% endif %}
									</p>

								</div>

								<ul class="search__products">

{% for i in range(0,6) %}

									<li>

{% include "_include/preview-card/mini.html" %}

									</li>

{% endfor %}

								</ul>

							</div>

						</div>

					</div>

				</div>

			</form>